@media ( max-width:  1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .activities
    &__title
    &-card
      width: 47%
  .packages
    &-wrapper
      grid-template-columns: repeat(auto-fill, 300px)
  .footer
    &__input
      flex-basis: 100%
    &__categories
      margin-left: 0px
    &__additional
      margin-left: 0px
    &__social
      &-network
        margin-left: 0px
    &__legal
      margin-left: 30px
    &__contact
      &-details
        margin-bottom: 0px
    &__contact
      &-form
        margin-left: 0px
@media ( max-width:  992px )
  .hover:hover
    background-color: $primary
  a:hover
    color: inherit
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      margin-bottom: 30px
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px

  .reviews
    &-slider
      &__item
        max-width: 580px
      &__text
        max-width: 455px
  .activities
    &-card
      width: 339px
  .packages
    &-wrapper
      grid-template-columns: 1fr 1fr
    &-card
      max-width: 500px
      &--active
        max-width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr 2fr 2fr 3fr 2fr 2fr
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__input
      flex-basis: 49%
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5
    &__bottom
      grid-column: 1 / 8
  .modal
    &__dialog
      padding: 30px 60px
@media ( max-width: 768px )
  .container, .newsletter-wrapper
    max-width: 700px
    width: 92%
  .navbar
    &-menu
      padding-top: 20px
      padding-bottom: 22px
      padding-left: 18px
      padding-right: 18px
    &__search
      margin-right: 73px

  .booking
    padding: 32px 22px 23px 22px
    &__pricetag
      line-height: 24px
  .packages
    &__title
      font-size: 30px
      line-height: 38px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        padding-left: 60px
        padding-right: 60px
        padding-bottom: 30px
      &__text
        max-width: 100%
      &__button
        &--next
          right: 0
        &--prev
          left: 0
  .newsletter
    &__subscribe
      margin-bottom: 10px
  .activities
    padding-bottom: 50px
  .footer
    padding-top: 70px
    &__logo
      width: 98px
    &__bottom
      display: flex
      grid-column: span 6
      justify-content: space-between
    &__bank
    &-card
      width: 136px
    &__categories
      margin-left: 0px
    &__additional
      margin-left: 20px
    &__social
      &-network
        margin-left: 6px
    &__legal
      margin-left: 30px
    &__contact
      &-details
        margin-top: 20px
        margin-bottom: 0px
    &__contact
      &-form
        margin-left: 0px
        grid-column: span 6
        margin-right: 23%
        margin-bottom: 20px
  .politics
    margin-left: 0
    min-width: 238px
  .modal
    &__wrapper
      flex-direction: column-reverse
      align-items: start
    &__button
      width: 100%
    &__info
      margin-bottom: 15px
@media ( max-width: 750px)
  .activities
    &-card
      width: 100%

@media ( max-width: 740px)
  .navbar
    &__search
      margin-right: 45px
  .search
    &__input
      max-width: 300px
  .booking
    width: 48%
    margin-right: 30px
  .footer
    &__social
      &-network

      &-links
    &__title
      &--inline

    &__additional
      grid-column-start: 4
      grid-column-end: 8

    &__categories
      grid-column-start: 1
      grid-column-end: 4
    &__legal
      grid-row-start: 3
      grid-row-end: 4
      margin-left: 0
      grid-column-start: 1
      grid-column-end: 4

    &__contact
      &-details
        grid-row-start: 4
        grid-row-end: 5

      &-form
        grid-row-start: 5
        grid-row-end: 6

@media (max-width: 700px)
  .packages
    &-wrapper
      grid-template-columns: 1fr
    &-card
      max-width: 100%
      &--active
        grid-auto-flow: column
        grid-template-rows: 250px 1fr
        grid-template-columns: 1fr
        grid-column: span 1
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
@media ( max-width: 649px )
  .container
  body
    padding-top: 78px
  .navbar
    &-mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 999
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    .navbar
    &__search
      margin: auto
    &__user
      flex-direction: column
      justify-content: center

    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      &--visible
        display: block
    &-menu
      &__list
        flex-direction: column
      &__item
        &--mobile
          &--visible
            display: block
            margin-bottom: 30px
      &__link
        margin-bottom: 20px
        display: inline-block
        line-height: 11px

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    padding-top: 0px
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__offer
        order: -1
        margin-left: 0
      &__rating
        display: none
    &-wrapper
      justify-content: space-between

    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .stars
    flex-basis: auto
    margin-left: auto
    margin-right: 16px
  .booking
    width: 100%
    margin-right: 0px
  .map
    width: 100%
  .packages
    &__title
      font-size: 24px
      line-height: 23px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
    &__title
      font-size: 24px
      line-height: 23px
  .footer
    &__input
      &-wrapper
        flex-direction: column
      &-group
        flex-basis: 100%
  .modal
    &__dialog
      padding: 20px 40px
      width: 300px
@media ( max-width: 576px )
  .logo
    width: 99px

  .hotel
    &-slider
      height: 250px
      &__img
        width: 100%
        height: 100%
  .newsletter
    &__mask
      padding: 76px 0px 83px 0px
    &__title
      margin-bottom: 37px
  .packages
    &-card
      &__info
        padding: 30px 20px
  .subscribe
    width: 100%
    &__button
      left: auto
      right: 0
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .activities
    padding-top: 40px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .packages
    &-card
      &__button
        width: 100%
        grid-column: 1 / 3

  .footer
    &-wrapper
      grid-template-columns: auto
      grid-column-gap: 0px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        display: flex
        flex-wrap: wrap
      &-links
        max-width: 86px
    &__title
      &--inline
        flex-basis: 100%
        margin-bottom: 20px
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        margin-right: 0px
        margin-bottom: 30px
    &__info
      margin-bottom: 15px
    &__bottom
      flex-direction: column
      flex-wrap: wrap
      grid-row: 8
      &__bank-card
        width: 100%
  .form
    &-wrapper
      flex-direction: column-reverse
      align-items: start
  .politics
    margin-bottom: 10px
    &__link
      margin-right: 5px
@media ( max-width: 574px )
  .footer
    &__categories
      margin-left: 0px
    &__additional
      margin-left: 0px
    &__social
      &-network
        margin-left: 0px
    &__legal
      margin-left: 0px
    &__contact
      &-details
        margin-top: 20px
        margin-bottom: 0px
    &__contact
      &-form
        margin-left: 0px

@media ( max-width: 450px )
  .navbar
    &__search
      &--mobile
        &--visible
          width: 74%
  .success
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &-text
      &__paragraph
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 30px

@media ( max-width: 320px )
  body
    padding-top: 70px
  .container
    max-width: 280px
  .navbar
    &-top
      padding-top: 18px
      padding-bottom: 28px
    &-menu
      padding-top: 31px
    &-bottom
      top: 60px
  .booking
    &__pricetag
      line-height: 30px
  .hotel
    &-info
      padding-bottom: 40px
    &-slider
      margin-bottom: 20px
      &__button
        display: none
    &-right
      min-height: 402px
  .swiper
    &-container
      height: 179px
  .booking
    padding: 30px 22px 26px 22px
  .map
    height: 173px
  .packages
    &__title
      font-size: 18px
      line-height: 23px
  .stars
    display: none
  .packages
    &-card
      &__description
        display: none
  .newsletter
    &__mask
      padding-bottom: 72px
    &-wrapper
      width: 85%
    &-title
      font-size: 20px
      line-height: 25px
      margin-bottom: 42px
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    &__title
      margin-left: auto
      margin-right: auto
      max-width: 245px
    &-slider
      &__item
      &__button
        &--next
          margin-right: -90px
        &--prev
          margin-left: -90px

    .swiper-container
      height: 100%
  .activities
    padding-top: 35px
    padding-bottom: 42px
    &-card
      max-width: 281px
      height: 255px
    &-card:nth-child(2)
      margin-bottom: 28px
  .footer
    padding-top: 68px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__categories
      margin-left: 0px
      grid-row: 5 / 6
    &__additional
      margin-left: 0px
      grid-row: 4 / 5
    &__social
      &-network
        margin-left: 0px
    &__legal
      margin-left: 0px
      grid-row: 3 / 4
    &__contact
      &-details
        margin-top: 0px
        margin-bottom: 10px
    &__contact
      &-form
        margin-bottom: 0px
        margin-left: 0px
    &__item--mb-2
      margin-bottom: 20px
    &__item
      justify-content: flex-start
    &__text
      margin-top: 18px
      margin-bottom: 29px
    &__icon
      &-wrapper
        min-width: 30px
    &__title--mb-3
      margin-bottom: 18px

    &__message
      margin-bottom: 10px
    &__info
      margin-bottom: 20px
  .politics
    width: 100%
    font-size: 12px
    line-height: 15px

//@media ( max-height: 500px )
  .navbar

    &-bottom
      overflow: auto
  //.modal
    //&__dialog
      //height: 95vh
      //overflow: auto
